/* You can add global styles to this file, and also import other style files */

html,
body,
app-root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}


// retira spin button dos campos numericos

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] {
  -moz-appearance: textfield;
}


button:hover {
  background-color: #333399 !important;
}