<app-nav-bar></app-nav-bar>
<div class="content">
    <div class = "options">
        <div class = "option">
            <mat-icon>account_circle</mat-icon>
            <div class = "title">
                <h2>Contas</h2>
            </div>
        </div>
        <div class = "option">
            <mat-icon>point_of_sale</mat-icon>
            <div class = "title">
                <h2>Saque</h2>
            </div>
        </div>
        <div class = "option">
            <mat-icon>attach_money</mat-icon>
            <div class = "title">
                <h2>Depósito</h2>
            </div>
        </div>
        <div class = "option">
            <mat-icon>receipt_long</mat-icon>
            <div class = "title">
                <h2>Extrato</h2>
            </div>
        </div>
        <div class = "option">
            <mat-icon>logout</mat-icon>
            <div class = "title">
                <h2>Sair</h2>
            </div>
        </div>
    </div>
</div>