.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
    flex-wrap: wrap;
    height: 7rem;
}

.div-divider {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.inputs {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    margin-left: 5rem;
    width: 70%;
}

.divider {
    width: 95%;
    border: none;
    opacity: 1;
    height: 4px;
    background-color: #000066;
    border-radius: 1px;
}

svg {
    margin: 0;
}


.register-data {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    gap: 2rem;
}


.input {
    width: 33%;
}

.input mat-form-field {
    width: 100%;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 3rem;
}

button {
    width: 15rem;
    background-color: #000066;
}

.limite-alcancado {
    color: #ff9800;
    font-weight: bold;
}


@media (max-width: 480px) {
    .nav {
        flex-direction: column;
        padding: 1rem;
        height: 11rem;
    }
}


